* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #000;
    color: #ffffff;
    text-align: center;
}

header, .left, .right {
    position: absolute;
}

header {
    left: 10px;
    top: 10px;
    right: 10px;
    height: 150px;
    border: solid #ffffff 1px;
}

header h1 {
    font-size: 40px;
    height: 60px;
    line-height: 60px;
}

.left {
    left: 10px;
    top: 170px;
    bottom: 10px;
    /*width: 200px;*/
    width: 15%;
    border: solid #fff 1px;
    overflow: auto;
}

/*.left ul {*/
/*overflow: hidden;*/
/*}*/

.left ul li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left ul li.selected {
    color: green;
}

.right {
    top: 170px;
    right: 10px;
    bottom: 10px;
    /*left: 220px;*/
    /*css里的计算函数*/
    left: -webkit-calc(15% + 20px);
    left: calc(15% + 20px);
    border: solid #ffffff 1px;
}

header .type {
    display: inline-block;
    margin: 0 auto;
    list-style-type: none
}

header .type li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    cursor: pointer
}

header .type li.selected {
    background: #fff;
    color: #000
}

header .type li:first-child {
    border-left: solid 1px #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

header .type li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

li {
    display: list-item;
    text-align: -webkit-match-parent
}

input[type="range"] {
    -webkit-appearance: none;
    height: 8px;
    background: #999;
    border-radius: 10px;
    outline: none;
}

/*以下时设置滑块*/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: #ffffff;
    border-radius: 100%;

}

/*火狐的写法*/
/*以下为滑条的样式*/
input[type="range"]::-moz-range-track {
    height: 8px;
    background: #999;
    border-radius: 10px;
    border: none;
}

/*以下为滑块的样式*/
input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: #fff;
    border-radius: 100%;
    border: none;
}

@media screen and (max-width: 800px), screen and (max-height: 500px) {
    body {
        font-size: 12px;
    }
    header {
        height: 80px;
    }

    header h1 {
        font-size: 24px;
        height: 34px;
        line-height: 34px;
    }

    header .type li {
        height: 16px;
        line-height: 16px;
        width: 50px;
    }
    .left,.right{
        top:100px;
    }
}











