*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
html,body{
  height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #ffffff;
  text-align: center;
}

header,.left,.right{
  position: absolute;
}
header{
  left: 10px;
  top: 10px;
  right: 10px;
  height: 150px;
  border: solid #ffffff 1px;
}
header h1{
  font-size: 40px;
  height: 60px;
  line-height: 60px;
}
.left{
  left: 10px;
  top: 170px;
  bottom: 10px;
  width: 200px;
  border: solid #fff 1px;
}
.left ul{
  overflow: hidden;
}
.left ul li{
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  overflow: hidden;
}
.left ul li.selected{
  color: green;
}
.right{
  top: 170px;
  right: 10px;
  bottom: 10px;
  left: 220px;
  border: solid #ffffff 1px;
}